<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidLoginApp">
        <!--
        MainActivity的注册信息
        name表示Activity的类名，'.'表示前面package定义的包名，这个Activity完整类名就是cn.mareep.androidloginapp.MainActivity
        exported = true 表示这个包可以被外部应用启动
        <intent-filter>是意图过滤器，<action>和<category>组合告诉系统这个Activity是应用的主入口，应该出现在手机桌面的应用启动器里
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidLoginApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>